<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.coord-e.wrongalert</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.coord-e.wrongalert</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>title</string>
			<key>label</key>
			<string>Title</string>
			<key>placeholder</key>
			<string>Wrong!!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.coord-e.wrongalert</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>text</string>
			<key>label</key>
			<string>Text</string>
			<key>placeholder</key>
			<string>%@ is wrong!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.coord-e.wrongalert</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>button</string>
			<key>label</key>
			<string>Button Text</string>
			<key>placeholder</key>
			<string>OK</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>"%@" will be replaced with passcode.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Source</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Follow me</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright © 2016 coord.e</string>
		</dict>
	</array>
	<key>title</key>
	<string>WrongAlert</string>
</dict>
</plist>
