Package: com.coord-e.wrongalert
Name: WrongAlert
Depends: mobilesubstrate, preferenceloader
Version: 0.1.3
Architecture: iphoneos-arm
Description: Show a custom alert when passcode is wrong.
Depiction: http://repo.coord-e.com/depictions.php?id=com.coord-e.wrongalert
Maintainer: coord.e <coord.e@y-modify.org>
Author: coord.e <coord.e@y-modify.org>
Section: Tweaks
