Package: com.coord-e.wrongalert
Name: WrongAlert
Depends: mobilesubstrate, preferenceloader
Version: 0.1.1
Architecture: iphoneos-arm
Description: View an custom alert when passcode is wrong.
Maintainer: coord.e <coord.e@y-modify.org>
Author: coord.e <coord.e@y-modify.org>
Section: Tweaks
